body
{
    background-color: #CFD8DC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

.login-container
{
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
}

.ltitle
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: 100;
    margin: 0px;
}

.subtitle
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 18px;
    margin: 0px;
}

.textbox
{
    background-color: white;
    border-radius: 3px;
    padding: 6px;
    font-size: 14px;
    border-style: solid;
    border-color: rgb(223, 223, 223);
    box-sizing: border-box;
}

.textbox:focus
{
    outline: 0;
    border-color: #03A9F4;
}

.submitButton
{
    margin-top: 10px;
    padding: 8px;
    background-color: #03A9F4;
    color: white;
    font-size: 14px;
    border-style: none;
    border-radius: 3px;
    float:left;
}

.vtlogo
{
    font-family: Baskerville;
    font-size: 36px;
    font-weight: 900;
    padding: 30px;
    color: #607D8B;
}

.vt-logo-nav
{
    font-family: Baskerville;
    font-size: 24px;
    font-weight: 900;
    display: inline-block;
}

.menubar
{
    padding: 20px;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}

.accountIcon
{
    display: inline-block;
}

.accountBox
{
    display: inline-block;
    float: right;
    cursor: pointer;
}


.main-content
{
    padding-left: 10vw;
    padding-right: 10vw;
    height: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: rgb(231, 231, 231);
}

.sectionTitle
{
    font-size: 28px;
    color: black;
}

.election
{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}